<%= form_for(@userpoke) do |f| %>
  <% if @userpoke.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@userpoke.errors.count, "error") %> prohibited this userpoke from being saved:</h2>

      <ul>
      <% @userpoke.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pokemon_id %><br>
    <%= f.text_field :pokemon_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :cp %><br>
    <%= f.number_field :cp %>
  </div>
  <div class="field">
    <%= f.label :hp %><br>
    <%= f.number_field :hp %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
