<p id="notice"><%= notice %></p>

<p>
  <strong>Pokemon:</strong>
  <%= @userpoke.pokemon %>
</p>

<p>
  <strong>User:</strong>
  <%= @userpoke.user %>
</p>

<p>
  <strong>Cp:</strong>
  <%= @userpoke.cp %>
</p>

<p>
  <strong>Hp:</strong>
  <%= @userpoke.hp %>
</p>

<%= link_to 'Edit', edit_userpoke_path(@userpoke) %> |
<%= link_to 'Back', userpokes_path %>
