<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pokemon.name %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @pokemon.picture %>
</p>

<p>
  <strong>Moves:</strong>
  <%= @pokemon.moves %>
</p>

<p>
  <strong>Type:</strong>
  <%= @pokemon.type %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @pokemon.weight %>
</p>

<p>
  <strong>Height:</strong>
  <%= @pokemon.height %>
</p>

<%= link_to 'Edit', edit_pokemon_path(@pokemon) %> |
<%= link_to 'Back', pokemons_path %>
